DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=compro_db

SECRET_KEY=kuncirahasia
ACCESS_TOKEN_EXPIRE_MINUTES=30
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

AI_API_URL=http://localhost:8001
XAI_API_URL=http://localhost:8002
